.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--gray-primary);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.28);
  z-index: 1000;
  &__logo {
    max-width: 4.2rem;
    min-width: 60px;
  }
  &__links {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    &__link {
      color: #000;
      text-decoration: none;
      &:hover,
      &--active {
        color: var(--bs-primary);
      }
    }
  }
  > button {
    min-width: 40px;
  }
}
