<header class="header">
  <figure class="header__logo">
    <img src="./assets/images/logo-dark.png" alt="logo" />
  </figure>
  <div class="header__links">
    <a
      class="header__links__link"
      routerLink="./"
      routerLinkActive="header__links__link--active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Proyectos
    </a>
    <a
      class="header__links__link"
      routerLink="project-add"
      routerLinkActive="header__links__link--active"
    >
      Agregar proyecto
    </a>
  </div>
  <button type="button" class="btn btn-primary" (click)="onLogout()">
    <img src="./assets/icons/logout.svg" alt="logout" />
  </button>
</header>
