.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--bs-gray-200);
  &__logo {
    max-width: 4.2rem;
  }
}
