<header class="header">
  <figure class="header__logo">
    <img src="./assets/images/logo-dark.png" alt="logo" />
  </figure>
  <div class="header__links">
    <a
      routerLink="./"
      routerLinkActive="header__links__link--active"
      class="header__links__link"
    >
      Proyectos
    </a>
    <a
      routerLink="project-add"
      routerLinkActive="header__links__link--active"
      class="header__links__link"
    >
      Agregar proyecto
    </a>
  </div>
  <button type="button" class="btn btn-primary">Cerrar sesión</button>
</header>
