<article class="projects">
  <app-add-button routerLink="project-add" />
  @for (project of projectsService.projects; track $index) {
  <app-project-card [project]="project" />
  }
</article>
@if(!projectsService.projects.length && !projectsService.loading) {
<div class="projects__no-data">
  <p>Aún no se ha creado ningún proyecto</p>
  <button type="button" class="btn btn-success" routerLink="project-add">
    Agregar proyecto
  </button>
</div>
}@else if(projectsService.loading) {
<app-loading />
}