.project-card {
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  background-color: var(--gray-primary);
  padding: 1rem;
  height: 100%;
  justify-content: space-between;
  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    padding-bottom: 1rem;
  }
  &__img {
    aspect-ratio: 16/9;
    > img {
      object-fit: cover;
      max-height: 230px;
    }
  }
  .btn-group {
    img {
      height: 1.2rem;
    }
  }
}
