<section class="locations">
    <div>
        <div class="btn-group locations__actions">
            <button type="button" class="btn btn-success" (click)="openModal('country')">
                <img src="./assets/icons/add.svg" alt="add" />
            </button>
            <button type="button" class="btn btn-warning" [disabled]="!currentFilter.country"
                (click)="openModal('country', true)">
                <img src="./assets/icons/edit.svg" alt="edit" />
            </button>
            <button type="button" class="btn btn-danger" [disabled]="!currentFilter.country" (click)="deleteCountry()">
                <img src="./assets/icons/remove.svg" alt="remove" />
            </button>
        </div>
        <app-autocomplete label="País" [data]="countryNames" (selectItem)="getStateByCountry($event)" />
    </div>
    <div>
        <div class="btn-group locations__actions">
            <button type="button" class="btn btn-success" [disabled]="!currentFilter.country"
                (click)="openModal('department')">
                <img src="./assets/icons/add.svg" alt="add" />
            </button>
            <button type="button" class="btn btn-warning" [disabled]="!currentFilter.state"
                (click)="openModal('department', true)">
                <img src="./assets/icons/edit.svg" alt="edit" />
            </button>
            <button type="button" class="btn btn-danger" [disabled]="!currentFilter.state" (click)="deleteState()">
                <img src="./assets/icons/remove.svg" alt="remove" />
            </button>
        </div>
        <app-autocomplete label="Departamento" [data]="stateNames" (selectItem)="getTownByState($event)" />
    </div>
    <div>
        <div class="btn-group locations__actions">
            <button type="button" class="btn btn-success" [disabled]="!currentFilter.state"
                (click)="openModal('municipality')">
                <img src="./assets/icons/add.svg" alt="add" />
            </button>
            <button type="button" class="btn btn-warning" [disabled]="!currentFilter.town"
                (click)="openModal('municipality', true)">
                <img src="./assets/icons/edit.svg" alt="edit" />
            </button>
            <button type="button" class="btn btn-danger" [disabled]="!currentFilter.town" (click)="deleteTown()">
                <img src="./assets/icons/remove.svg" alt="remove" />
            </button>
        </div>
        <app-autocomplete label="Municipio" [data]="townNames" (selectItem)="setTown($event)" />
    </div>
</section>