<section class="locations">
    <div>
        <div class="btn-group locations__actions">
            <button type="button" class="btn btn-success">
                <img src="./assets/icons/add.svg" alt="add" />
            </button>
            <button type="button" class="btn btn-warning">
                <img src="./assets/icons/edit.svg" alt="edit" />
            </button>
            <button type="button" class="btn btn-danger">
                <img src="./assets/icons/remove.svg" alt="remove" />
            </button>
        </div>
        <app-autocomplete label="Países" />
    </div>
    <div>
        <div class="btn-group locations__actions">
            <button type="button" class="btn btn-success">
                <img src="./assets/icons/add.svg" alt="add" />
            </button>
            <button type="button" class="btn btn-warning">
                <img src="./assets/icons/edit.svg" alt="edit" />
            </button>
            <button type="button" class="btn btn-danger">
                <img src="./assets/icons/remove.svg" alt="remove" />
            </button>
        </div>
        <app-autocomplete label="Departamento" />
    </div>
    <div>
        <div class="btn-group locations__actions">
            <button type="button" class="btn btn-success">
                <img src="./assets/icons/add.svg" alt="add" />
            </button>
            <button type="button" class="btn btn-warning">
                <img src="./assets/icons/edit.svg" alt="edit" />
            </button>
            <button type="button" class="btn btn-danger">
                <img src="./assets/icons/remove.svg" alt="remove" />
            </button>
        </div>
        <app-autocomplete label="Municipio" />
    </div>
</section>