<article class="login">
  <form class="login__form" [formGroup]="form" (ngSubmit)="sendLogin()">
    <figure class="login__logo">
      <img src="./assets/images/logo.png" alt="logo" />
    </figure>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="user"
      />
      <label for="floatingInput">Nombre de usuario</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        formControlName="password"
      />
      <label for="floatingPassword">Contraseña</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Iniciar sesión
    </button>
  </form>
</article>
