<article class="login">
  <form class="login__form" [formGroup]="form">
    <figure class="login__logo">
      <img src="./assets/images/logo.png" alt="logo" />
    </figure>
    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
      />
      <label for="floatingInput">Correo electrónico</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        formControlName="password"
      />
      <label for="floatingPassword">Contraseña</label>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="form.invalid"
      (click)="sendLogin()"
    >
      Iniciar sesión
    </button>
  </form>
</article>
