<article class="manage-project">
  <h1>Agregar proyecto</h1>
  <form class="manage-project__form">
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Nombre</label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Ubicación</label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Tamaño</label>
    </div>
    <div class="form-floating">
      <input
        type="number"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Cant. Habitaciones</label>
    </div>
    <div class="form-floating">
      <input
        type="number"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Cant. Baños</label>
    </div>
    <div class="form-floating">
      <input
        type="number"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Cant. Cochera</label>
    </div>
    <div class="form-floating">
      <input
        type="number"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Precio</label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Url youtube</label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Url mapa</label>
    </div>
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        id="floatingTextarea2"
        style="height: 100px"
      ></textarea>
      <label for="floatingTextarea2">Detalles</label>
    </div>
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        id="floatingTextarea2"
        style="height: 100px"
      ></textarea>
      <label for="floatingTextarea2">Descripción</label>
    </div>
    <div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Amenidades"
          aria-label="Example text with button addon"
          aria-describedby="button-addon1"
        />
        <button class="btn btn-success" type="button">
          <img src="./assets/icons/add.svg" alt="add" />
        </button>
      </div>
      <ul class="list-group">
        <li class="list-group-item"></li>
      </ul>
    </div>
    <div>
      <label for="formFile" class="form-label">
        Agregar imagenes (Max 1mb)
      </label>
      <input class="form-control" type="file" id="formFile" />
      <div class="mt-3 manage-project__form__list-img">
        <span>Aún no se agregan imágenes</span>
      </div>
    </div>
    <button type="submit" class="btn btn-success mt-4">Guardar</button>
  </form>
</article>
