@use "./../../../../../styles/mixins" as *;

.manage-project {
  margin: 2rem 0;
  > h1 {
    font-size: 2rem;
    text-align: center;
  }
  &__form {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--gray-primary);
    @include screen(small) {
      grid-template-columns: 1fr 1fr;
      &__content-imgs {
        grid-column: 1/3;
      }
      > button {
        grid-column: 1/3;
        justify-self: center;
        width: 20%;
      }
    }
    &-lenguage {
      display: grid;
      gap: 1rem;
      @include screen(custom, max, 768) {
        > span {
          display: none;
        }
      }
      @include screen(small) {
        grid-column: 1/3;
        grid-template-columns: 1fr 1fr;
      }
    }
    &-quant {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      > div {
        flex: 1;
        min-width: 11rem;
      }
      @include screen(small) {
        grid-column: 1/3;
      }
    }
    &-amenity {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
      > button {
        padding: 0.2rem 0.5rem;
        border-radius: 50%;
      }
    }
    &__list-img {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 1rem;
      min-height: 100px;
      background-color: var(--bs-gray-200);
    }
    &__images {
      position: relative;
      width: 8rem;
      > img {
        height: 8rem;
        object-fit: cover;
      }
      > button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.1rem 0.3rem;
      }
    }
  }
  &__steps {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-top: 0.5rem;
    > img {
      width: 48%;
    }
  }
}
