<div class="card project-card">
  <span class="project-card__title">
    {{ project.name }}
  </span>
  <figure class="project-card__img">
    <img
      [src]="rootImages + (project.images ? project.images[0] : '')"
      alt="project"
    />
  </figure>
  <div class="btn-group">
    <button class="btn btn-success" (click)="viewProject()">
      <img src="./assets/icons/eye.svg" alt="view" />
    </button>
    <button class="btn btn-warning" (click)="editProject()">
      <img src="./assets/icons/edit.svg" alt="edit" />
    </button>
    <button class="btn btn-danger" (click)="deleteProject()">
      <img src="./assets/icons/remove.svg" alt="remove" />
    </button>
  </div>
</div>
